<section class="product-container">
  <h1>Lista De Productos</h1>
  <header class="search-container">
    <input placeholder="Buscar productos" (input)="applyFilter($event)" />
    <button type="button" [routerLink]="['/products/create']">
      Crear Un nuevo Producto
    </button>
  </header>
  <article>
    <mat-card *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle
          ><strong>SKU:</strong> {{ product.sku }}</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        [src]="product.image"
        [routerLink]="['/products/info/', product._id]"
        alt="{{ product.name }}"
        class="product-image"
      />

      <mat-card-actions>
        <button mat-button (click)="editProduct(product._id)">Editar</button>
        <button mat-button (click)="confirmDeleteProduct(product._id)">
          Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </article>
  <mat-paginator
    #paginator
    class=""
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="limit"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [hidePageSize]="hidePageSize"
    [pageIndex]="page"
    aria-label="Select page"
  ></mat-paginator>
</section>
